.container {
  border: 10px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  height: 100px;
}
.container_label {
  border: 10px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  height: 150px;
  margin-top: -100px;
}
#ready_label {
  opacity: 0;
  color: red;
}
#steady_label {
  opacity: 0;
  color: yellow;
}
#go_label {
  opacity: 0;
  color: green;
}
.Ready {
  border: 30px solid gray;
  border-radius: 50%;
}
.Steady {
  border: 30px solid gray;
  border-radius: 50%;
}
.Go {
  border: 30px solid gray;
  border-radius: 50%;
}
.number {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
}
